<!-- Contenedor principal de la componente.
 En pantallas pequeñas permite scroll para ver el contenido que no entra en la vista -->
<div class="relative p-4 sm:rounded-lg dark:bg-gray-900">

    <!-- Header -->
    <div class="flex items-center justify-between flex-col flex-wrap md:flex-row p-4 bg-white dark:bg-gray-900">

        <!-- Menú para seleccionar tipos de tablas -->
        <div #menu class="m-4">

            <!-- Botón para desplegar el menú -->
            <button (click)="toggleMenu()"
                class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-3 py-1.5 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
                type="button">
                {{ selectedTable | capitalize }}
                <svg class="w-2.5 h-2.5 ms-2.5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 1 4 4 4-4" />
                </svg>
            </button>

            <!-- Menú desplegable -->
            <div *ngIf="menuVisible"
                class="absolute mt-2 z-10 bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700 dark:divide-gray-600">
                <ul class="py-1 text-sm text-gray-700 dark:text-gray-200">
                    <li *ngFor="let name of tableNames">
                        <button (click)="selectTable(name)"
                            class="w-full text-left block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                            {{ name | capitalize }}
                        </button>
                    </li>
                </ul>
            </div>

        </div>

        <!-- Barra de búsqueda -->
        <div class="relative m-4">
            <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                </svg>
            </div>
            <input type="text" id="table-search-users" [(ngModel)]="searchTerm" (ngModelChange)="filter()"
                class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-64 sm:w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Buscar...">
        </div>

        <!-- Botones para cambiar tema oscuro/claro -->
        <div class="absolute top-6 right-6 md:static md:ml-4">
            <fa-icon [icon]="isDarkMode ? faSun : faMoon"
                class="text-gray-600 dark:text-gray-300 cursor-pointer text-xl" (click)="toggleDarkMode()">
            </fa-icon>
        </div>

    </div>

    <!-- Título de la tabla y paginación -->
    <div class="mx-auto md:mx-0 text-left md:pl-8 text-lg font-semibold text-gray-800 dark:text-white mb-4">
        <p class="text-center mb-2 md:text-left">Tabla de {{ selectedTable | titlecase }}</p>

        <div class="flex flex-row items-center justify-center md:justify-start gap-4 mb-4 text-xs">
            <label class="text-gray-700 dark:text-gray-300">
                Página:
                <input type="number" min="1" step="1" [(ngModel)]="page" (ngModelChange)="fetchData()"
                    class="border p-1 rounded w-20 text-gray-800 dark:text-white bg-white dark:bg-gray-700 border-gray-300 dark:border-gray-600" />
            </label>

            <label class="text-gray-700 dark:text-gray-300">
                Filas:
                <input type="number" min="1" step="1" [(ngModel)]="limit" (ngModelChange)="fetchData()"
                    class="border p-1 rounded w-20 text-gray-800 dark:text-white bg-white dark:bg-gray-700 border-gray-300 dark:border-gray-600" />
            </label>
        </div>

    </div>

    <!-- Tabla -->
    <div class="overflow-x-scroll w-full">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">

            <!-- Header -->
            <thead *ngIf="existTable()"
                class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">

                <!-- Columnas, que son los campos de la tabla seleccionada -->
                <tr>
                    <ng-container *ngFor="let column of objectKeys()">
                        <th scope="col" class="text-center px-6 py-3">
                            {{ column | uppercase | underscoreToSpace }}
                        </th>
                    </ng-container>
                </tr>

            </thead>

            <!-- Body : valores de la tabla seleccionada -->
            <tbody *ngIf="existTable()">
                <tr *ngFor="let item of selectedItems"
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600">

                    <ng-container *ngFor="let column of objectKeys()">
                        <td class="px-6 py-4 text-center">
                            {{ item[column] | addSymbol:column }}
                        </td>
                    </ng-container>

                </tr>
            </tbody>

            <!-- Mensaje en caso de no haber datos a mostrar -->
            <p *ngIf="!existTable()" class="text-sm font-medium p-4 rounded-md 
                transition-opacity duration-300 opacity-0 animate-fade-in
              bg-yellow-100 text-yellow-800 dark:bg-yellow-900 dark:text-yellow-300">
                No hay más datos en esta tabla
            </p>

        </table>
    </div>


</div>